



<h1><%= @user.name%>'s tats</h1>
<% @tats.each  do |tat| %>
   
<h2><%= link_to "#{tat.name}", admin_user_tat_path(@user,tat.id)%><h2>


<% end %><br>
    

<%= link_to "Return home", root_path %>
