


<h2> Artist Name: <%= @artist.name %></h2><br><br>
<h2>  Artist's Tats: </h2>
<% @artist_tats.each do |tat| %>
<h2>  <%= link_to tat.name, user_tat_path(@artist, tat) %></h2><br>
<%end%>


<%= link_to "SIGN OUT", signout_path, method: 'delete' %>
<br>

<%= link_to "Return home", root_path %>

<br>
