



<h1><%= @current_user.name%></h1>


<% @tats.each  do |tat| %>
<% if tat.artist == nil %>
<%= link_to tat.name, tat_path(tat)%><br><br>
<% end %><br>
<% end %><br>
<%= link_to "Log Out", signout_path, method: :delete %><br><br>

