@import "bootstrap-sprockets";
@import "bootstrap";

body {
    justify-content: center;
    align-items: center;
    text-align: center; 
color: rgb(46, 48, 69);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: lighter;

    }
