@import "bootstrap-sprockets";
@import "bootstrap";


body {
    justify-content: center;
    align-items: center;
    text-align: center; 
    position:relative;
color: rgb(46, 48, 69);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: lighter;
    }

