@import "bootstrap-sprockets";
@import "bootstrap";


body {
    justify-content: center;
    align-items: center;
    text-align: center; 
    position:relative;
color: rgb(46, 48, 69);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: lighter;

    }

#all a:hover {
  color: hotpink;
}



#href a:link {
  color: #494949;
}


#href a:visited {

  color: #68d8e0;

}

#href a:hover {
  color: hotpink;
  line-height:18pt;
}
